* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: crimson;
}

.card {
  width: 700px;
  background: #ccc;
  padding: 20px;
  margin: 20px;
  font-family: sans-serif;
  line-height: 28px;
}

/* Scrollbar */

::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#0093e9, #80d0c7);
  border-radius: 100px;
}
