:root {
  --main-color: #e3e8e4;
  --primary-color: #363636;
  --main-font: "Playfair Display SC", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Components START*/
.btn {
  padding: 10px 30px;
  background: var(--primary-color);
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--main-color);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.gray {
  color: hsl(0, 0%, 60%);
}
/* Components END*/

/* Navigation START */
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.navigation__links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navigation__links li a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: sans-serif;
  margin-left: 64px;
  padding: 10px;
}

.navigation__links li a:hover {
  border-bottom: 2px solid var(--primary-color);
}

.navigation__logo {
  font-size: 1.5em;
  font-family: sans-serif;
}
/* Navigation END */

/* Hero START */
.hero {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.hero__content {
  width: 500px;
}

.hero__content-title {
  font-size: 4rem;
  font-family: var(--main-font);
}

.hero__content-sub-title {
  font-size: 1rem;
  font-family: sans-serif;
  margin: 32px 0;
}

.hero__content-btn {
  margin-right: 20px;
}

.hero__content-link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  font-family: sans-serif;
  cursor: pointer;
}

.hero__image {
  width: 500px;
  height: 500px;
}

.hero__image img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
/* Hero END */
/* Popularity START */
.popularity {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popularity > * {
  margin-right: 50px;
}

.popularity h1 {
  font-size: 3rem;
  font-family: var(--main-font);
}
/* Popularity END */
/* Products START */
.products {
  margin-top: 160px;
}

.products__title {
  text-align: center;
  font-size: 4rem;
  font-family: var(--main-font);
  margin-bottom: 20px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  display: flex;
  flex-direction: column;
}

.product-img {
  width: 240px;
  height: 240px;
  background-color: var(--main-color);
  display: flex;
  padding: 20px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-content {
  background: var(--primary-color);
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  padding: 27px;
  padding-bottom: 50px;
}

.product-content h1 {
  margin-bottom: 10px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container > * {
  margin: 20px 0 0 20px;
  font-size: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
/* Products END */
/* Why Us START */
.why-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 160px;
}

.why-us__img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: var(--main-color);
  background-image: url("./Images/scott-webb-eD853mTbBA0-unsplash-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.why-us__content {
  width: 500px;
}

.why-us__content-title {
  font-size: 4rem;
  font-family: var(--main-font);
  margin-bottom: 20px;
}

.why-us__content-text {
  font-size: 1rem;
  font-family: sans-serif;
  max-width: 500px;
  margin-bottom: 2rem;
}

.why-us__content-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  width: 200px;
  height: 150px;
  padding: 20px;
  margin-top: 40px;
}

.card-title {
  font-size: 1em;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.card-content {
  font-size: 0.75em;
  font-family: sans-serif;
}

.card.odd {
  background: var(--main-color);
  border-radius: 10px;
  position: relative;
}

.card.odd::before {
  content: "★";
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  padding-top: 2px;
  padding-right: 2px;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
}

/* Why Us END */
/* Best Features START */
.best {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 160px;
}

.best__content {
  width: 500px;
}

.best__content-title {
  font-size: 4rem;
  margin-bottom: 20px;
}

.best__content-text {
  font-size: 1rem;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.best__content-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.best__img {
  width: 300px;
  height: 350px;
  background: var(--main-color);
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

.best__img img {
  width: 350px;
  height: 450px;
}
/* Best Features END */
/* Footer START */
.footer {
  height: 100vh;
  background: var(--primary-color);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 160px;
}

.footer__company {
  width: 500px;
}

.footer__company-title {
  font-size: 4rem;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.footer__company-content {
  max-width: 500px;
  font-size: 1.2rem;
  font-family: sans-serif;
}

.footer__links {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.footer__links a {
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.4rem;
}

.footer__links a:hover {
  text-decoration: underline;
}

.footer__links ul {
  list-style: none;
  line-height: 30px;
}

.footer__links-container h1 {
  font-size: 2.5rem;
  font-family: sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}
/* Footer END */
